@import "tailwindcss";


@theme {
    --color-clifford: #da373d;
    --font-Sans: "Work Sans", serif;
    --color-dark1: #131313;
    --color-dark2: #424242;
    --color-dark3: #727272;
    --color-Orange: #FF900E;
    --color-lightOrange: #FFF4E7;

  }
  .btn {
    @apply bg-Orange text-white text-xl font-medium p-3 rounded-lg border-none cursor-pointer;
  }
  .link {
    @apply font-medium text-lg text-dark2;
  }
  .title {
    @apply font-bold text-dark1 text-[2.8125rem] leading-[53px] mb-6;
  }
  .subtitle {
    @apply font-normal text-base text-dark3;
  }